<!doctype html>
<html lang="ru"> 
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Вакансия</th> 
     <th>Город</th> 
     <th>Компания</th> 
     <th>Зарплата</th> 
     <th>Источник</th> 
    </tr>                     
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/43035110">Java Junior Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Платформа ОФД</td> 
     <td class="salary">80 000 – 120 000 руб.</td> 
     <td class="siteName">https://hh.ru/</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/43653053">Junior Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Gridnine Systems</td> 
     <td class="salary">не указана</td> 
     <td class="siteName">https://hh.ru/</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/43338130">Junior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Deutsche Bank Technology Center</td> 
     <td class="salary">не указана</td> 
     <td class="siteName">https://hh.ru/</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/43253884">Java-программист Middle / Upper Junior</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ERP Consciousness (ООО Учесть Всё)</td> 
     <td class="salary">120 000 – 160 000 руб.</td> 
     <td class="siteName">https://hh.ru/</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/43320883">Junior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Группа компаний SRG</td> 
     <td class="salary">не указана</td> 
     <td class="siteName">https://hh.ru/</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/43961890">Junior Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">NFP</td> 
     <td class="salary">не указана</td> 
     <td class="siteName">https://hh.ru/</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/43857246">Junior Java разработчик (SberUser Soft)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сбер для экспертов</td> 
     <td class="salary">не указана</td> 
     <td class="siteName">https://hh.ru/</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/41898835">Junior Java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Softline</td> 
     <td class="salary">не указана</td> 
     <td class="siteName">https://hh.ru/</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/43830234">Junior Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО МультиКарта </td> 
     <td class="salary">не указана</td> 
     <td class="siteName">https://hh.ru/</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/43880951">Junior Java or C# (+VBA Junior обязательно)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО НЕД </td> 
     <td class="salary">не указана</td> 
     <td class="siteName">https://hh.ru/</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000073498">Junior java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary">не указана</td> 
     <td class="siteName">https://career.habr.com</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000059562">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ред софт</td> 
     <td class="salary">не указана</td> 
     <td class="siteName">https://career.habr.com</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000067352">Разработчик java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Банк «Открытие»</td> 
     <td class="salary">от 300 000 ₽</td> 
     <td class="siteName">https://career.habr.com</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000071929">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Банк ПСБ</td> 
     <td class="salary">не указана</td> 
     <td class="siteName">https://career.habr.com</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000073132">Go Developer (Junior)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EVEN Lab</td> 
     <td class="salary">от 40 000 до 100 000 ₽</td> 
     <td class="siteName">https://career.habr.com</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000072739">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сибур</td> 
     <td class="salary">не указана</td> 
     <td class="siteName">https://career.habr.com</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000072598">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Цифровые сервисы</td> 
     <td class="salary">от 150 000 до 250 000 ₽</td> 
     <td class="siteName">https://career.habr.com</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000072698">Java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Sportmaster Lab</td> 
     <td class="salary">от 170 000 ₽</td> 
     <td class="siteName">https://career.habr.com</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000073445">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сбер</td> 
     <td class="salary">не указана</td> 
     <td class="siteName">https://career.habr.com</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000074093">Java-разработчик (Видеоплатформа)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Rambler Group</td> 
     <td class="salary">не указана</td> 
     <td class="siteName">https://career.habr.com</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
     <td class="siteName"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>